extends ../layout_reg

append content
    h2 Welcome to the employee portal
    p To get started please either Login or Register using the access code you were given during your training.
    div.row
        div.col-sm-2
        div.col-sm-3
            a.btn.btn-info.center-block(href=`/login?redirect=http://${host}/employee?page=dashboard.html`) Login
        div.col-sm-2
        div.col-sm-3
            a.btn.btn-primary.center-block(href="/register") Register
        div.col-sm-2
