body, html {
    background-image:    url(background.png);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
